<footer>
    <mat-grid-list cols="6" rowHeight="1:1" class="tableFooter">
        <mat-grid-tile>
        </mat-grid-tile>
        <mat-grid-tile>
        </mat-grid-tile>
        <mat-grid-tile>
            <table matSort>
                <tr>
                    <th class="titleFooter">
                        Ayuda
                    </th>

                </tr>
                <tr>
                    <td>
                        Como comprar
                    </td>
                </tr>
                <tr>
                    <td>
                        Preguntas frecuentes
                    </td>
                </tr>
            </table>
        </mat-grid-tile>
        <mat-grid-tile>
            <table matSort>
                <tr>
                    <th class="titleFooter">
                        Siguenos
                    </th>

                </tr>
                <tr>
                    <td>
                        Instagram
                    </td>
                </tr>
                <tr>
                    <td>
                        Faccebook
                    </td>
                </tr>
            </table>
        </mat-grid-tile>
        <mat-grid-tile>
        </mat-grid-tile>
        <mat-grid-tile>
        </mat-grid-tile>
    </mat-grid-list>
    <div>
        <p>&copy; VILMA LAGOS</p>
    </div>
</footer>