<mat-grid-list cols="3" rowHeight="3:3">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>
        <div *ngIf="newUser">
            <mat-card class="login-css">
                <form [formGroup]="userForm" (ngSubmit)="createUser()">
                    <mat-form-field appearance="fill">
                        <mat-label for="name">Usuario</mat-label>
                        <input matInput formControlName="uaserName">
                    </mat-form-field>
                    <br/>
                    <mat-form-field appearance="fill">
                        <mat-label>Password</mat-label>
                        <input matInput formControlName="Password" [type]="hide ? 'password' : 'text'">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
                    </mat-form-field>
                    <br/>
                    <button mat-stroked-button color="accent" type="submit">Entrar</button>
                    <button mat-stroked-button color="primary">Crear cuenta</button>
                </form>
            </mat-card>
        </div>

        <div *ngIf="profile">
            <mat-card>
                <mat-card-content>{{userForm.value.uaserName}}</mat-card-content>
                <mat-card-content>{{userForm.value.Password}}</mat-card-content>
            </mat-card>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
</mat-grid-list>



<div *ngIf="usuario_guardado">
    <h2>{{usuario_guardado.name}}</h2>
    <h2>{{usuario_guardado.job}}</h2>
</div>

<!--
{{fecha | date:'dd/MM/yy'}}<br/>

{{fecha | date:'fullDate' | uppercase}}<br/>
{{'WELCOME TO THE JUNGLE' | lowercase}}<br/>
{{ 4 | calculadora: 2 }} <br/>

<input type="text" [(ngModel)]="userId" (keyup.enter)="cargaUsuario()"/>

<div *ngIf= "!user" >
	Cargando...
</div>
<div *ngIf="user" >
	<img src="{{user.avatar}}" width="200" />
	<h4>{{user.first_name+ ' ' + user.last_name}}</h4>
</div>
 -->